[Unit]
Description=The server of the Impera platform
After=network.target

[Service]
Type=simple
User=impera
Group=impera
ExecStart=/usr/bin/impera -c /etc/impera/server.cfg -vv server
Restart=on-failure

[Install]
WantedBy=multi-user.target
