[Unit]
Description=The server of the Inmanta platform
After=network.target

[Service]
Type=simple
User=inmanta
Group=inmanta
EnvironmentFile=/etc/sysconfig/inmanta-server
ExecStart=/usr/bin/inmanta --log-file /var/log/inmanta/server.log --log-file-level 2 --timed-logs server
Restart=on-failure

[Install]
WantedBy=multi-user.target
