[Unit]
Description=The server of the Inmanta platform
After=network.target

[Service]
Type=simple

Environment=PATH=/opt/rh/rh-python34/root/usr/bin:${PATH}
Environment=LD_LIBRARY_PATH=/opt/rh/rh-python34/root/usr/lib64:${LD_LIBRARY_PATH}
ExecStart=/opt/rh/rh-python34/root/usr/bin/inmanta -vvv -c /etc/inmanta/server.cfg server
Restart=on-failure
User=inmanta
Group=inmanta

[Install]
WantedBy=multi-user.target
