version: 2
updates:
- target-branch: master
  package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  allow:
    # Allow both direct and indirect updates for all packages
    - dependency-type: "all"
  ignore:
    - dependency-name: "pytest-inmanta-extensions"
      # pytest-inmanta-extensions version is tied to inmanta-core's version with an f-string
      # dependabot crashes on trying to bump it
      versions: [">=0.0.1"]
    - dependency-name: "pydantic"
      update-types: ["version-update:semver-major"]
    - dependency-name: "execnet"
      update-types: ["version-update:semver-major"]
- target-branch: iso7
  package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  allow:
    # Allow both direct and indirect updates for all packages
    - dependency-type: "all"
  ignore:
    # #6668
    - dependency-name: "setuptools"
      update-types: ["version-update:semver-major"]
    - dependency-name: "pytest-inmanta-extensions"
      versions: [">=0.0.1"]
    # pydantic/pydantic#10494
    - dependency-name: "pydantic-core"
    - dependency-name: "execnet"
      update-types: ["version-update:semver-major"]
