version: 2
updates:
- target-branch: master
  package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  allow:
    # Allow both direct and indirect updates for all packages
    - dependency-type: "all"
  groups:
    logfire:
      patterns:
        - "logfire"
        - "opentelemetry*"
    sphinx:
      patterns:
        - "furo"
        - "myst-parser"
        - "sphinx"
  cooldown:
    include:
      # these two packages are tied together very strongly, but there is an occasional small delay between their releases,
      # causing CI failures
      - "logfire"
      - "opentelemetry*"
      # wait for furo to bump their upper bound on sphinx
      - "sphinx"
    default-days: 1
  ignore:
    # #6668
    - dependency-name: "pytest-inmanta-extensions"
      # pytest-inmanta-extensions version is tied to inmanta-core's version with an f-string
      # dependabot crashes on trying to bump it
      versions: [">=0.0.1"]
    - dependency-name: "pydantic"
      update-types: ["version-update:semver-major"]
    - dependency-name: "execnet"
      update-types: ["version-update:semver-major"]
