*.pyc
*.pyo
*.tokens
*.class
*.orig
*.cfc

.project
.pydevproject
.settings

*.swp

run.profile

__pycache__

*~

dist
build
src/impera.egg-info
MANIFEST

*.log
tests/.coverage
.tox
junit*.xml

build-result
/env/
.cache
.coverage
src/*/parser/parser.out
