# Compiler artifacts
*.pyc
*.pyo
*.tokens
*.class
*.orig
*.cfc
__pycache__

# Pydev
.project
.pydevproject
.settings

# Vim et al
*.swp
*~

# Vscode
.vscode

# Pycharm
.idea

# Profiler
run.profile
prof

# Packaging
dist
build
*.egg-info
MANIFEST
.eggs/*
pip-wheel-metadata

# Test runs
*.log
tests/.coverage
.tox
junit*.xml
.pytest_cache

# Generated
src/*/parser/parser.out
src/*/parser/parsetab.py

# Venv
.env

# Inmanta Release Tool
docs/reference/modules
docs/moduleguides
docs/inmanta.pdf
docs/_static/*.pdf
docs/_static/*.png

# Mypy
.mypy
.mypy_cache
mypy
types
mypy.xml
coverage
.mypy-baseline
.mypy-tmp

# Duplicate Files for text_common package, copied by tests_common/copy_files_from_core.py
tests_common/src/inmanta_tests/conftest.py
tests_common/src/inmanta_tests/data/*
tests_common/src/inmanta_tests/utils.py
tests_common/src/inmanta_tests/db/*

# ??
build-result
/env/
.cache
.coverage
.coverage*
_build
logs

docs/reference/openapi.json
