include LICENSE
graft docs
include tox.ini
include setup.py
include setup.cfg
include src/inmanta/py.typed
include src/inmanta/parser/parser.out

recursive-include src *.j2
recursive-include docs *
recursive-include misc *

global-exclude *.pyc
global-exclude */__pycache__/*
global-exclude **/.env/**
exclude docs/build/**
