include LICENSE
include tox.ini
include setup.py
include setup.cfg
include src/inmanta/py.typed
include src/inmanta/parser/parser.out

recursive-include src *.j2

global-exclude *.pyc
global-exclude */__pycache__/*
global-exclude **/.env/**
