[tool.black]
line-length = 128
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.mypy_cache
  | \.tox
  | \.venv
  | \.env
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.irt.build.python]
hooks = { 'pre' = 'pre-build.sh' }

[tool.irt.build.python.subprojects.pytest-inmanta-extensions]
directory = "tests_common"

[tool.irt.publish.python]
public = true

[tool.pytest.ini_options]
log_format = "%(asctime)s.%(msecs)03d %(levelname)s %(message)s"
