click==6.7
colorlog==3.1.0
execnet==1.4.1
mongobox==0.1.6
motor==1.1
ply==3.10
pymongo==3.6.0
pytest==3.3.1
pytest-cover==3.0.0
pytest-tornado==0.4.5
pytest-randomly==1.2.2
python-dateutil==2.6.1
pyyaml==3.12
six==1.11.0
sphinx==1.6.5
sphinx-argparse==0.2.1
sphinx-autodoc-annotation==1.0-1
sphinx-rtd-theme==0.2.4
texttable==1.1.1
tornado==4.5.2
virtualenv==15.1.0
inmanta-sphinx>=0.3
typing==3.6.2
netifaces==0.10.6
PyJWT==1.5.3
cryptography==2.1.4
