inmanta-dev-dependencies[pytest,async,core]==2.120.0
bumpversion==0.6.0
netifaces==0.11.0
openapi_spec_validator==0.7.1
pip2pi==0.8.2
types-PyYAML==6.0.12.20240311
types-python-dateutil==2.9.0.20240316
types-setuptools==70.0.0.20240523
types-toml==0.10.8.20240310
flake8-junit-report==2.1.0
time-machine==2.14.1

# documentation
furo==2024.5.6
inmanta-sphinx==1.9.0
myst-parser==3.0.1
sphinx==7.3.7
sphinxcontrib-contentui==0.2.5
sphinxcontrib-redoc==1.6.0
sphinxcontrib-serializinghtml==1.1.10
sphinx-argparse==0.4.0
sphinx-autodoc-annotation==1.0-1
sphinx-click==6.0.0
sphinx-design==0.5.0
Sphinx-Substitution-Extensions==2024.2.25
sphinxcontrib.datatemplates==0.11.0
