.. -*- mode: rst -*-

{% if data['compiler_version']%}

Compiler version
~~~~~~~~~~~~~~~~

Specifying the compatible compiler version for a V1 module is done via the ``compiler_version`` field of the ``module.yml``
file.

.. only:: iso

    Version |version| of the Inmanta Service Orchestrator uses compiler version {{ data['compiler_version'] }}.

.. only:: oss

    Inmanta OSS version |version| uses compiler version {{ data['compiler_version'] }}.


.. note::

    This information is also available in a machine-consumable format in the `compatibility.json <./compatibility.json>`_ file.

{% endif %}
