.. -*- mode: rst -*-



{% if data['module_set_constraints']%}
.. list-table:: Modules
   :header-rows: 1

   * - .. centered:: Module
     - .. centered:: Version constraint

   {% for key, value in data["module_set_constraints"] | dictsort %}
   * - .. centered:: {{ key }}
     - .. centered:: {{ value }}
   {% endfor %}
{% endif %}

.. note::

    This information is also available in a machine-consumable format in the `compatibility.json <./compatibility.json>`_ file.

