.. -*- mode: rst -*-


Python version
~~~~~~~~~~~~~~


{{ make_list_table(
    ["Component", "Required version"],
    data['python_table'],
    title='Python requirement',
    ) }}


Inmanta components requirements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


{{ make_list_table(
    ["Component", "Required version"],
    data['requirements_table'],
    title='Component requirements',
    ) }}

