.. -*- mode: rst -*-

{% if data['system_requirements']%}
.. list-table:: System requirements
   :header-rows: 1

   * - .. centered:: Component
     - .. centered:: Required version

   {% for key, value in data["system_requirements"] | dictsort %}
   * - .. centered:: {{ key }}
     - .. centered:: {{ value }}
   {% endfor %}
{% endif %}

.. note::

    This information is also available in a machine-consumable format in the `compatibility.json <./compatibility.json>`_ file.

