.. -*- mode: rst -*-


System requirements
~~~~~~~~~~~~~~~~~~~


{{ make_list_table(
    ["Component", "Required version"],
    data['system_requirements_table'],
    title='System requirements',
    ) }}

