The constructor `{{ constructor_str }}` ({{ constructor_loc }}) matches different instances in different indexes:
{% for coll in collisions -%}
 - index {{ constructor_name }}({{ collisions[coll].index }}) matches {{ collisions[coll].constructor }}
{% endfor %}
